/* Estilos gerais */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: rgb(197, 40, 40);
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 0px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.container h2 {
    color: #e74c3c;
    margin-top: 0;
}

.container p {
    margin-bottom: 20px;
    font-size: 1.1em;
}

/* Formulário */
.form-container {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    margin-top: 40px;
}

.form-container h2 {
    margin-top: 0;
}

input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

input[type="submit"] {
    background-color: #e74c3c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #c0392b;
}

/* Rodapé */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

footer p {
    margin: 0;
    font-size: 1em;
}

/* Responsividade */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    .container {
        padding: 15px;
    }

    input[type="submit"] {
        font-size: 1em;
    }
}
.background1{
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5));
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-color: #333;
    }